<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <title>Nodepop: compra-venta molona</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <hr><hr><center>
    <h1><%= marca.toUpperCase() %></h1>
    <p><i> compra - venta molona</i></p>
    </center>
    <hr><hr>
    </br></br>
    <hr>
    <% anuncios.forEach( (anuncio) => { %>
      <p><b>Artículo: <%= anuncio.nombre.toUpperCase() %></b></p>
      <p>
        <% var tipo %>
        <% (anuncio.venta) ? tipo = "Se vende" : tipo = "Se Compra" %>
        <%= tipo %>
      </p>
      <p>Precio: <%= anuncio.precio %> €</p>
      <p>Tags: <%= anuncio.tags %></p>
      <!--
        <>Foto: <%= anuncio.foto %></p>
       -->
       <% var nombreFoto %>
       <% (anuncio.foto !== "") ? nombreFoto = anuncio.foto : nombreFoto = "----"%>
       <p>Foto: <%= nombreFoto %>
      <hr>

    <% }) %>
    

  </body>
</html>

